@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  height: 100vh !important;
  overflow: hidden !important;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.status.approved {
  background-color: #2ea56f;
  color: white;
}

.status.rejected {
  background-color: #dc3545;
  color: white;
}

.status.pending {
  background-color: orange;
}

/* Filter Tahun */

.filter-tahun {
  width: 60% !important;
  margin-right: 10px;
}

.nav_main_wrapper .btn {
  width: 200px; /* Lebar tombol tetap pada layar besar */
  text-align: center;
  margin-left: 10px;
}
