@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  height: 100vh !important;
  overflow: hidden !important;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.status.approved {
  background-color: #2ea56f;
  color: white;
}

.status.rejected {
  background-color: #dc3545;
  color: white;
}

.status.pending {
  background-color: orange;
}
