@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  height: 100vh !important;
  overflow: hidden !important;
  font-family: "Poppins", sans-serif;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.status.approved {
  background-color: #2ea56f;
  color: white;
}

.status.rejected {
  background-color: #dc3545;
  color: white;
}

.status.pending {
  background-color: orange;
}

/* Filter Tahun */

.nav_main_wrapper {
  display: block;
  width: 100%;
}

.filter-tahun {
  width: 60% !important;
  margin-right: 10px;
}

.nav_main_wrapper .btn {
  width: 200px; /* Lebar tombol tetap pada layar besar */
  text-align: center;
  margin-left: 10px;
}

/* Filter Tahun */

.filter-tahun {
  width: 60% !important;
  margin-right: 10px;
}

.nav_main_wrapper .btn {
  width: 200px; /* Lebar tombol tetap pada layar besar */
  text-align: center;
  margin-left: 10px;
}

.nav_main_wrapper {
  display: block;
  width: 100%;
}

.nav_main_wrapper .btn-tambah {
  margin-left: 11px;
  margin-right: 11px;
}

.nav_main_wrapper .btn-tambah {
  min-width: 250px;
}

/* Responsiveness */
@media screen and (max-width: 1024px) {
  .nav_main_wrapper .dropdown {
    width: 100%;
  }

  .nav_main_wrapper .filter-tahun,
  .nav_main_wrapper .d-flex,
  .nav_main_wrapper .dropdown .btn,
  .nav_main_wrapper .btn-tambah {
    margin: 0;
    width: 100% !important;
    margin-bottom: 5px;
  }

  .nav_main_wrapper .btn-tambah {
    margin-left: 11px;
    margin-right: 11px;
  }
}

.btn-aksi-mahasiswa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-aksi-mahasiswa .btn {
  font-size: 16px;
}
