@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Tampilan materi kewirausahaan */
.container_materi {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  padding-right: 25px;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  height: 150px;
}
.judul_materi {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.deskripsi_materi {
  font-size: 16px;
  max-height: fit-content;
  color: #666;
  padding-right: 20px;
}

#detailJudul {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#detailDeskripsi {
  font-size: 16px;
  color: #666;
}
