/* Styling untuk tombol aksi */
.btn-container {
  display: flex;
  justify-content: flex-end;
}

.action-buttons,
.mentor-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 15px;
}

.action-buttons button,
.mentor-buttons button,
button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Tombol Save */
.action-buttons .save-btn,
.mentor-buttons .accept-btn {
  background-color: #2ea56f;
  color: white;
  border: 1px solid #ddd;
}

.action-buttons .save-btn:hover,
.mentor-buttons .accept-btn:hover {
  transform: scale(1.05);
  background-color: #269659;
}

/* Tombol Cancel dan Reject */
.action-buttons .cancel-btn,
.mentor-buttons .reject-btn,
.modal-footer .btn-cancel {
  background-color: #dc3545;
  color: white;
  border: 1px solid #ddd;
}

.action-buttons .cancel-btn:hover,
.mentor-buttons .reject-btn:hover,
.modal-footer .btn-cancel:hover {
  transform: scale(1.05);
  background-color: #b02a37;
}

/* Responsiveness */
@media (max-width: 768px) {
  input[type="file"],
  textarea {
    font-size: 14px;
    padding: 8px;
  }

  .action-buttons button,
  .mentor-buttons button,
  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Table styling */
table th {
  width: 20%;
  text-align: left;
}

table td {
  width: 80%;
}

/* Modal Footer Buttons */
.modal-footer .btn-submit {
  background-color: #269659;
  border-color: #269659;
  color: white;
}

.modal-footer .btn-submit:hover {
  background-color: #21874f;
  border-color: #21874f;
}

.modal-footer .btn-cancel {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

.modal-footer .btn-cancel:hover {
  background-color: #c12e3c;
  border-color: #c12e3c;
}
