body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #ffffff;
}
.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 500px;
  width: 500px;
}
.image-container img {
  height: 500px;
  width: 500px;
}
.form-container {
  flex: 1;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}
.form-container h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 15px;
}
.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.submit-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #2ea56f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}
.submit-btn:hover {
  background-color: #00b44a;
}

/* scroll bar */
/* Mengatur scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Warna thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Warna thumb saat hover */
}

/* Responsiveness */
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px; /* Mengatur jarak antar elemen */
  }

  .image-container {
    width: 90%;
    max-width: 300px;
    height: auto;
    margin: 0; /* Pastikan margin dihilangkan */
  }

  .image-container img {
    width: 100%;
    height: auto; /* Pastikan proporsi gambar terjaga */
  }

  .form-container {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}
