body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}
.form-container {
    flex: 1;
    padding: 20px;
}
.form-container h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #2ea56f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #00B44A;
}