@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.main {
  min-height: 100vh;
  width: 100%;
  background-color: #fafbfe;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}

/* Sidebar Styling */
#sidebar {
  width: 70px;
  background-color: #2ea56f;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.25s ease-in-out;
}

#sidebar.expand {
  width: 260px;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  margin: auto 0;
}

a.sidebar-link {
  display: block;
  padding: 0.625rem 1.625rem;
  color: #fff;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 4px solid white;
}

.sidebar-item.active a {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 4px solid white;
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

.sidebar-header h1 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem 1.625rem;
  margin: 0;
}

.main_wrapper {
  width: 100%;
  height: 85vh;
  background-color: #f0f0f0;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

/* Profil Styling */

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* margin-top: 30px; */
}

.profile-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-item {
  flex: 1 1 calc(50% - 20px);
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-item h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.profile-item p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.edit-btn {
  position: absolute; /* Posisi tombol diatur relatif ke induk */
  top: 10px; /* Jarak dari atas */
  right: 10px; /* Jarak dari kanan */
  font-size: 25px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
