@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* card */
.card {
  text-decoration: none;
  display: block;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 50%;
  padding: 20px;
  color: black;
}

.card {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  background-color: #00cc66;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card-body {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 14px;
  color: #666;
  max-height: 63px;
  overflow-y: hidden;
}
.card-footer {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer a {
  margin: 0;
  padding: 0;
}

.card-footer .delete-icon {
  margin-left: auto;
}

.card .card-header,
.card .card-body {
  color: #000;
}

.card-body p {
  margin: 0;
  padding: 0;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* card Icon */

.card-header .edit-icon,
.card-footer .delete-icon,
.card-body .detail-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.card-header .edit-icon:hover,
.card-footer .delete-icon:hover,
.card-body .detail-icon:hover {
  transform: scale(1.2);
}
